.pkg-container {
  width: 100%;
}

.pkg-banner {
  width: 100%;
  height: 280px;              
  background-size: cover;
  background-position: center;
  border-radius: 0 0 18px 18px;
  position: relative;
  margin-bottom: 20px;
}



.pkg-banner-overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  color: #fff;
}

.pkg-banner h1 {
  font-size: 48px;
  margin: 0;
}

.pkg-banner p {
  font-size: 30px;
  opacity: 0.9;
}

.pkg-content {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.pkg-info {
  flex: 1.2;
}

.pkg-info h2 {
  margin-bottom: 12px;
  font-size: 30px;
  color: #1f2d5a;
}

.pkg-highlights p {
  margin: 8px 8px;
  font-size: 30px;
}

.pkg-form-wrapper {
  flex: 1;
}

@media (max-width: 768px) {
  .pkg-content {
    flex-direction: column;
  }
}
