/* Fade animation */
.fade-in {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Cards */
.book-card {
  width: 230px;
  transition: all 0.3s ease;
  border-radius: 15px;
  background-color: #fff;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.book-container {
  gap: 10px;
}

.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
